@import url("https://fonts.google.com/specimen/Poppins");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fundo{
    background-color: #ff7978;
    background-image: url(./images/bg-intro-desktop.png);
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-weight: 800;
}

.texto1{
    width: 35%;
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 200px;
    margin-left: 170px;
    flex-direction: column;
    
}

p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #e6e6e6;
}

.containers{

    width: 200px;
    height: 670px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 60px;
}

.try{
    width: 500px;
    height: 100px;
    background-color: #5d54a3;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 10px 6px -1px rgba(0,0,0,0.26);
-moz-box-shadow: 0px 10px 6px -1px rgba(0,0,0,0.26);
box-shadow: 0px 10px 6px -1px rgba(0,0,0,0.26);

}

.try p{
    font-size: 16px;
    margin-left: 2%;
}

.try h1{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;

}

.form{
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    width: 500px;
    height: 100%;
-webkit-box-shadow: 0px 10px 6px -1px rgba(0,0,0,0.26);
-moz-box-shadow: 0px 10px 6px -1px rgba(0,0,0,0.26);
box-shadow: 0px 10px 6px -1px rgba(0,0,0,0.26);
}

.form input{
    width: 100%;
    height: 50px;
    border: 1px solid #555;
    border-radius: 7px;
    margin-bottom: 40px;
    opacity: 1;
}
.labels{
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.form input:focus{  
    border-color: #ff7978;
    width:100%;
    padding:8px 0 5px 0;
    opacity: 1;
  }

.form button{

   width: 100%;
   height: 60px;
   background: 	#77e2b4;
   outline: none;
   border: 1px #fff;
   border-radius: 5px;
   cursor: pointer;
   --webkit-box-shadow: 2px 6px 5px -2px rgba(0,0,0,0.45);
   -moz-box-shadow: 2px 6px 5px -2px rgba(0,0,0,0.45);
   box-shadow: 2px 6px 5px -2px rgba(0,0,0,0.45);

}
 
.form h3{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.form button:hover{
        background-color: #2EE59D;
        color: #fff;
        transform: translateY(-3px);
 }

